snippet guard "create header guard"
#ifndef ${1:`!p snip.rv = fn.replace(".","_").upper()`}
#define $1

/**
 * @file    `!p snip.rv = fn`
 */

#ifdef __cplusplus
extern "C" {
#endif

$0

#ifdef __cplusplus
}
#endif

#endif // end $1 header guard
endsnippet

snippet main "main function"
int main(int argc, char **argv) {
	$0
	return 0;
}
endsnippet

snippet for "for loop"
for (int ${1:i} = 0; $1 < $2; $1++) {
	$0
}
endsnippet
